<h3 class="text-center mt-3 mb-3">
    Discos
</h3>

<div class="text-center">
    <button (click)="insertarDisco()" id="btnInsertar"  class="btn btn-primary mr-1">Insertar</button>
    <button (click)="modificarDisco()" id="btnModificar" class="btn btn-primary mr-1">Modificar</button>
    <button (click)="borrarDisco()" id="btnBorrar"    class="btn btn-danger  mr-1">Borrar</button>
    <button (click)="vaciarFormulario()" id="btnVaciar"    class="btn btn-warning mr-1">Vaciar</button>
    <button (click)="volver()" id="btnVolver"    class="btn btn-warning mr-1">Volver</button>
</div>
<br/>

<div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
</div>
<div *ngIf="mensaje" class="alert alert-success" role="alert">
    {{mensaje}}
</div>

<div class="row" id="formulario">
    <div class="row col-sm-12 offset-sm-0 col-md-8 offset-md-2">
        <div class="col-2 mt-1">
            <label>Título</label>
        </div>
        <div class="col-10 mt-1">
            <input id="titulo"  [(ngModel)]="disco.titulo" class="form-control"/>
        </div>
        <div class="col-2 mt-1">
            <label>Grupo</label>
        </div>
        <div class="col-10 mt-1">
            <input id="grupo" [(ngModel)]="disco.grupo" class="form-control"/>
        </div>
        <div class="col-2 mt-1">
            <label>Año</label>
        </div>
        <div class="col-10 mt-1">
            <input id="year" [(ngModel)]="disco.year" class="form-control"/>
        </div>
        <div class="col-2 mt-1">
            <label>Género</label>
        </div>
        <div class="col-10 mt-1">
            <input id="genero" [(ngModel)]="disco.genero" class="form-control"/>
        </div>
        <div class="col-2 mt-1">
            <label>Notas</label>
        </div>
        <div class="col-10 mt-1">
            <textarea id="sinopsis" [(ngModel)]="disco.notas" class="form-control"></textarea>
        </div>
    </div>
</div>
<br/>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Grupo</th>
            <th>Género</th>
            <th>Año</th>
        </tr>
        <tr *ngFor="let disco of discos" (click)="seleccionarDisco(disco.id)">
            <td>{{disco.titulo}}</td>
            <td>{{disco.grupo}}</td>
            <td>{{disco.genero}}</td>
            <td>{{disco.year}}</td>
        </tr>
    </thead>
    <tbody id="tablaPeliculas"></tbody>
</table>
<br/>